*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
html{
    background-color: #263238;
    scroll-behavior: smooth;
}
/*header*/
.miniHeader{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ef5350;
    height: 4vh;
}
.miniHeader ul li{
    list-style: none;
    display: inline;
}
.fa{
    font-size: 20px;
    width: 50px;
    text-decoration: none;
    color: #feca1b
}
/*Main*/
.main-container--title{
    margin: 20px auto;
    font-family: 'Potta One', cursive;
    -webkit-text-stroke: #365fa4 2px ;
    font-size: 6rem;
    letter-spacing: -5px;
    font-style: bold;
    color: #feca1b;
    text-align: center;
}
/*DinamicMain*/
.main-container--data{
    display: flex;
    background-color: #ef5350;
    width: 90%;
    margin: 0 auto;
    min-height: 500px;
    height: auto;
    border-radius: 5px 5px 0 0;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1ws0px;
    padding-bottom: 10px;
}
.base{
    display: inline-block;
    border-radius: 5px;
    background-color: #263238;
    width: 20%;
    max-width: 150px;
    min-width: 130px;
    max-height: 200px;
    min-height: 180px;
    margin: 6px 1.5%;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.535);
}
/*Card clases*/
.base-image{
    background-color: #3e484d;
    width: 90%;
    height: 60%;
    margin: 5px auto 0 auto;
    border-radius: 5px 5px 0 0;
}
.pokeImage{
    width: 100%;
}
.pokeData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3e484d;
    width: 90%;
    height: 35%;
    margin: 2px auto 5px auto;
    border-radius: 0 0 5px 5px;
}
.pokeName{
    display: block;
    width: 90%;
    margin: 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #feca1b;
    margin-top: 5px;
    text-transform: capitalize;
    text-align: center;

}
.pokeElement{
   font-size: 0.8rem;
   letter-spacing: 1.3px;
   margin: 4px;
   height: 17px;
   color: #ffffff;
   background-color: #3db30e;
   padding: 0px 4px;
   padding-top: 4px;
   border-radius: 5px;
   text-transform: uppercase;
}
    